


.loginCtn{
    margin-top: 5%;
    width: 50%;    
}

.logoLogin{
    width: 30%;
    margin-left: 35%;
}

.registerBox{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

